.process-section{
  width:100%;
  padding:100px 0;
  background:#f5f3f1;
}

.process-wrapper{
  width:100%;
  max-width:1150px;
  margin:auto;
  padding:0 20px;
}

.process-subtitle{
  font-size:12px;
  letter-spacing:4px;
  color:#d78a2d;
  font-weight:700;
  margin-bottom:24px;
}

.process-title{
  max-width:620px;
  font-size:50px;
  line-height:1.15;
  color:#08284a;
  font-weight:500;
  font-family:'Playfair Display',serif;
  margin-bottom:60px;
}

.process-grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:18px;
}

.process-card{
  background:#ffffff;
  border:1px solid #d9d6d2;
  border-top:2px solid #08284a;
  border-radius:10px;
  padding:30px 26px;
  min-height:255px;
  transition:0.3s;
}

.process-card:hover{
  transform:translateY(-5px);
  box-shadow:0 12px 25px rgba(0,0,0,0.08);
}

.process-number{
  font-size:28px;
  color:#08284a;
  font-style:italic;
  font-family:'Playfair Display',serif;
  margin-bottom:18px;
}

.process-icon{
  width:42px;
  height:42px;
  background:#f3e7d1;
  border-radius:8px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:20px;
  margin-bottom:24px;
}

.process-card-title{
  font-size:18px;
  color:#08284a;
  margin-bottom:14px;
  line-height:1.5;
  font-family:'Playfair Display',serif;
  font-weight:500;
}

.process-card-text{
  font-size:16px;
  line-height:1.8;
  color:#4f5f72;
}

@media(max-width:1100px){

  .process-grid{
    grid-template-columns:repeat(2,1fr);
  }

  .process-title{
    font-size:52px;
  }

}

@media(max-width:700px){

  .process-grid{
    grid-template-columns:1fr;
  }

  .process-title{
    font-size:40px;
  }

}
/* SECTION */

.about-program-section{
    width: 100%;
    padding: 8%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 55px;

    align-items: start;

    background: #f7f6f3;
}

/* LEFT SIDE */

.about-left{
    width: 100%;
}

.about-tag{
    display: inline-block;

    background: #f5ead6;
    color: #d58a28;

    padding: 10px 18px;

    border-radius: 30px;

    font-size: 12px;
    letter-spacing: 3px;

    margin-bottom: 30px;
}

.about-left h1{
    font-size: 42px;

    color: #062240;

    font-family: Georgia, serif;

    margin-bottom: 35px;

    font-weight: 500;
}

.about-left h1 span{
    color: #d58a28;
    font-style: italic;
}

.about-left p{
    font-size: 20px;
    line-height: 21px;

    color: #4d5661;

    margin-bottom: 28px;

    max-width: 90%;
}

/* QUOTE */

.quote-box{
    width: 100%;

    background: #f1efeb;

    border-left: 4px solid #d58a28;

    padding: 18px;

    margin-top: 20px;
    margin-bottom: 35px;
}

.quote-box i{
    color: #062240;

    font-size: 21px;
    line-height: 24px;

    font-family: Georgia, serif;
}

/* LINK */

.outline-link{
    color: #d58a28;

    text-decoration: none;

    font-size: 20px;
    font-weight: 500;

    transition: 0.3s;
}

.outline-link:hover{
    opacity: 0.7;
}

/* RIGHT SIDE */

.about-right{
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* CARDS */

.stat-card{

    border-radius: 14px;

padding:5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 1px solid #d8d8d8;
}

.dark-card{
    background: #062240;
    border: none;
}

.light-card{
    background: #faf9f6;
}

/* CARD TEXT */

.stat-card h2{
    font-size: 62px;

    color: #d58a28;
margin: 0;

    font-family: Georgia, serif;
    font-weight: 500;
}

.stat-card p{
    margin: 0;
    font-size: 22px;
    /* line-height: 38px; */
}

.dark-card p{
    color: white;
}

.light-card p{
    color: #4b5a6b;
}

/* RESPONSIVE */

@media(max-width:1200px){

    .about-left h1{
        font-size: 58px;
        line-height: 68px;
    }

    .about-left p{
        font-size: 18px;
        line-height: 36px;
    }

    .stat-card h2{
        font-size: 48px;
    }

    .stat-card p{
        font-size: 18px;
        line-height: 30px;
    }

}

@media(max-width:992px){

    .about-program-section{
        grid-template-columns: 1fr;
    }

    .about-left p{
        max-width: 100%;
    }

}

@media(max-width:600px){

    .about-program-section{
        padding: 70px 5%;
        gap: 45px;
    }

    .about-left h1{
        font-size: 48px;
        line-height: 58px;
    }

    .about-left p{
        font-size: 17px;
        line-height: 34px;
    }

    .quote-box i{
        font-size: 18px;
        line-height: 32px;
    }

    .outline-link{
        font-size: 18px;
    }

    .about-right{
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .stat-card{
        min-height: 170px;
        padding: 25px 20px;
    }

    .stat-card h2{
        font-size: 40px;
    }

    .stat-card p{
        font-size: 15px;
        line-height: 25px;
    }

}