/* SECTION */

.feature-section-v4{
    width: 100%;
    padding: 80px 100px;
}

.feature-wrapper-v4{
    width: 100%;
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

/* CARD */

.feature-card-v4{
    background: #ffffff;
    border: 2px solid #dde3ea;
    border-radius: 30px;

    padding: 40px;

    transition: 0.4s ease;
    cursor: pointer;

    min-height: 350px;
}

.feature-card-v4:hover{
    transform: translateY(-10px);
    border-color: #f0a500;
    box-shadow: 0px 20px 40px rgba(0,0,0,0.08);
}

/* .active-card-v4{
    border-color: #f0a500;
} */

/* ICON */

.feature-icon-box-v4{
    width: 74px;
    height: 74px;

    border-radius: 22px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 32px;

    margin-bottom: 35px;

    transition: 0.4s ease;
}

.feature-card-v4:hover .feature-icon-box-v4{
    transform: scale(1.08) rotate(5deg);
}

.icon-bg-one-v4{
    background: #f8f1df;
}

.icon-bg-two-v4{
    background: #e7f3fb;
}

.icon-bg-three-v4{
    background: #e3f3e6;
}

/* TEXT */

.feature-card-v4 h3{
    font-size: 30px;
    line-height: 1.2;
    color: #102b57;

    margin-bottom: 24px;
}

.feature-card-v4 p{
    font-size: 18px;
    line-height: 1.8;
    color: #5b6475;
}

/* RESPONSIVE */

@media(max-width:1100px){

    .feature-wrapper-v4{
        grid-template-columns: repeat(2,1fr);
    }

}

@media(max-width:768px){

    .feature-section-v4{
        padding: 60px 20px;
    }

    .feature-wrapper-v4{
        grid-template-columns: 1fr;
    }

    .feature-card-v4{
        padding: 30px;
        min-height: auto;
    }

    .feature-card-v4 h3{
        font-size: 30px;
    }

    .feature-card-v4 p{
        font-size: 18px;
    }

}

@media(max-width:480px){

    .feature-card-v4{
        border-radius: 24px;
    }

    .feature-card-v4 h3{
        font-size: 26px;
    }

    .feature-icon-box-v4{
        width: 65px;
        height: 65px;
        font-size: 28px;
    }

}