.feature-section{
    width: 100%;
    padding: 80px 8%;
    background: #f5f4f1;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.feature-card{
    background: white;
    padding: 20px 30px;
    border-radius: 12px;
    border-left: 4px solid #d99437;

    box-shadow: 0 5px 20px rgba(0,0,0,0.05);

    transition: 0.3s;
}

.feature-card:hover{
    transform: translateY(-8px);
}

.feature-icon{
    width: 48px;
    height: 48px;
    background: #f8eedb;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    font-size: 22px;

    margin-bottom: 30px;
}

.feature-card h2{
    font-size: 22px;
    color: #0d2340;
    margin-bottom: 19px;
    font-family: Georgia, serif;
}

.feature-card p{
    color: #5b6470;
    line-height: 19px;
    font-size: 15px;
}

/* RESPONSIVE */

@media(max-width:1000px){

    .feature-section{
        grid-template-columns: 1fr;
    }

}



.home-features-section{
  width: 100%;
  background: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 28px 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.home-feature-item{
  display: flex;
  align-items: center;
  gap: 14px;
margin: 0px;
  padding-right: 30px;
  border-right: 1px solid #ddd;

  min-width: 180px;
}

.home-feature-item:last-child{
  border-right: none;
}

.home-feature-icon{
  font-size: 24px;
  color: #0d2235;
margin: 0px;
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.home-feature-text{
  font-size: 16px;
  color: #1f2937;
  line-height: 1.5;
  font-family: serif;
  max-width: 170px;
}

@media(max-width: 992px){
  .home-features-section{
    justify-content: center;
  }

  .home-feature-item{
    border-right: none;
  }
}