
.Navbar{
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    font-size: 21px;
    font-weight: 500;
    width: 100%;
    background-color: rgb(24, 24, 29);

    backdrop-filter: blur(50px);
    z-index: 99;
    height: 50px;
}
.Navbar .leftSide,
.Navbar .rightSide{
    display: flex;
    gap: 5px;
    align-items: center;
}
.rightSide .profileimage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}