.PostList {

    margin-bottom: 20px;
}

.PostList .ListBar {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.ListBar .ListBar-Title {
    font-size: 20px;
    font-weight: 500;
}

.ListBar .ListBar-subTitle {
    font-size: 16px;
    color: rgba(95, 93, 93, 0.925);
}

.ListBar .viewMore {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: 300;
}

.PostList .ListItems {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.ListItems .listCard {
    /* background-color: brown; */
}

.listCard .imageDiv {
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
}

.listCard .imageDiv img {
    width: 100%;
    height: 100%;
}

.listCard .contentDic {
    padding: 5px;
    font-size: 17x;
    font-weight: 400;
}

@media screen and (max-width: 768px) {

    .PostList .ListItems {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    .listCard .imageDiv {
        height: 100px;
    }

    
.listCard .contentDic{
    font-size: 12px;
    font-weight: 400;
}
}

.pagedet{
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    color: rgba(29, 28, 28, 0.781);
}
.pagination-buttons button{
    border-radius: 5px;
}

.pagination-buttons .number{
    width: 30px;
border: 1px solid black;
    padding: 5px;
}

.pagination-buttons .prev{
    
    background-color: black;
    color: white;
    padding: 5px 10px;
}
.pagination-buttons .next{
    padding: 5px 10px;
    background-color: black;
    color: white;
}
.pagination-buttons .active{
    background-color: rgba(170, 165, 165, 0.685);
}