.TargetValueChange {
    height: 100%;
    width: 100%;
    padding: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.TargetValueChange .ValueBox {
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    background-color: rgba(187, 190, 190, 0.514);
}


.TargetValueChange .ValueBox .textinput{
    width: 100%;
    background-color: white;
    padding: 5px 10px;
border-radius: 5px;
}

.TargetValueChange .ValueBox .colorinput{
    width: 30px;
    height: 30px;
    margin: 0px;
    background-color: white;
border-radius: 5px;
}