.TargetValueChange {
    height: 100%;
    width: 100%;
    padding: 15px;
}

.TargetValueChange .ValueBox {
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    background-color: rgba(187, 190, 190, 0.514);
}


.TargetValueChange .ValueBox input{
    width: 100%;
    background-color: white;
    padding: 5px 10px;
border-radius: 5px;
}