.main-container {
    /* position: absolute; */
    width: 100%;
    padding: 20px 0px;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding:40px; */
}

.card {
    /* width:1100px; */
    width: 100%;
    height: 100%;
    /* height:650px; */
    background: #1e2235;
    overflow: hidden;
    display: flex;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
}

/* LEFT */

.left-section {
    width: 50%;
    padding: 40px 60px;
    background: #23273d;
    color: white;
}



/* CONTENT */

.content {
    margin-top: 10px;
}

.small-title {
    color: #b5b8c5;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.content h1 {
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.content h1 span {
    color: #1e90ff;
}

.login-text {
    color: #a6a9b7;
    margin-bottom: 40px;
}

.login-text a {
    color: #1e90ff;
    text-decoration: none;
}

/* FORM */

form {
    width: 100%;
}

.double-input {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.inputfield {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    background: #2b3048;
    border-radius: 14px;
    padding: 0 20px;
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
}

input::placeholder {
    color: #b1b4c2;
}

input[type="password"] {
    border: 2px solid #1e90ff;
}

/* BUTTONS */

.buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.SUBMIT {
    flex: 1;

    height: 55px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

.gray-btn {
    background: #5d6274;
    color: white;
}

.right-section {
    width: 50%;
    height: 100%;
    padding: 50px;
}

.right-section .overlay {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #1e90ff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1511512578047-dfb367046420?q=80&w=1200&auto=format&fit=crop');
}

@media (max-width: 768px) {
    .right-section {
        display: none;
    }

    .left-section {
        width: 100%;
        padding: 10px;
    }
}