@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
a{
    color: white;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}

/* NAVBAR */
.NAVBARMENUICON ul li{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.activebtn{
    height: max-content !important;
    transition: 0.5s;
}
.NAVBARMENUICON{
    overflow: hidden;
    height: 0;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.NAVBARMENUICON ul{
    list-style: none;
}
.Navbar {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 5px 60px;
}

.Navbar .BrandName {
    color: white;
    font-size: xx-large;
}

.Navbar .Menus {
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    font-size: 20px;
    list-style: none;
}

.Navbar .Menus li {
    cursor: pointer;
}

.Navbar .Menus .active {
    color: orangered;
}

.Navbar .Menus li a:hover {
    color: orangered;
    transition: 0.4s;
}

/* NAVBAR END */

/* MAIN SECTION */
.main .slider {
    overflow: hidden;
    display: flex;
    width: 90%;
    align-items: center;
    margin-left: 50px;
    /* justify-content: center; */
}

.main {
    height: 90vh;
    width: 100%;
    background-image: url(https://i.pinimg.com/1200x/2b/5f/43/2b5f43b39083af8dffc4b6f0dcebc4c8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .Active {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    opacity: 1 !important;
    min-width: 90%;
    height: 90%;
    border-radius: 10px;
    transform: translateX(0);
    transition: 0.4s;

}
 
.main .content {
    /* opacity: 0; */
    /* background-color: blue; */
    min-width: 100VW;
}
.content h1 {
    font-size: 60px;
}
.content .mainHed {
    font-weight: 300;
    color: rgba(194, 190, 190, 0.808);
}
.content .subHed {
    color: white;
    margin-bottom: 10px;
}

.content .description {
    font-size: 17px;
    margin-bottom: 10px;
    color: rgba(230, 224, 224, 0.932);
    width: 40%;
}


.content .btn {
    padding: 10px 15px;
    font-size: 15px;
    border: none;
    background-color: white;
    color: black;
    width: max-content;
}

.main .switch {
    position: absolute;
    bottom: 30px;
    color: white;
    font-size: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.main .switch div:hover {
    color: white;
    transition: 0.4s;
    background-color: orangered;
    cursor: pointer;
}

.main .switch div {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-weight: 500;
}

/* MAIN SECTION END  */

/* ABOUT US SECTION  */
.about-us {
    padding: 10px 20px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
}

.about-us div {
    width: 45%;
    height: 100%;
}

.about-us .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-us .content h1 {
    color: orangered;
    font-size: 40px;
    font-weight: 700;
}

.about-us .content p {
    margin-top: 15px;
    max-width: 70%;
    font-size: 19px;
    font-weight: 300;
}

.about-us .content button {
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 15px;
    width: max-content;
    background-color: black;
    color: white;
    border-radius: 4px;
}

.about-us .about-image {
    padding: 10px 25px;
}

.about-image img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

/* ABOUT US SECTION END  */

/* <!-- Our Gallery SECTION  --> */
.OurGallery {
    margin-bottom: 100px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.OurGallery div {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.OurGallery h1 {
    color: orangered;
    font-size: 40px;
}

.OurGallery p {
    text-align: center;
    font-size: 17px;
}

.OurGallery .container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    /* background-color: #f2f2f2; */
    padding: 10px;
}

.container .item {
    overflow: hidden;
    padding: 10px 20px;
    color: white;
    text-align: center;
    position: relative;
}

.item .shade {
    align-items: center;
    justify-content: center;
    font-size: 45px;
    transition: 0.2s;
    display: none;
    position: absolute;
    top: 10;
    left: 20;
    border-radius: 10px;
    height: 300px;
    background-color: rgba(202, 209, 216, 0.603);
}

.item img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

.item:hover .shade {
    display: flex;
    transition: 0.4s
}

.OurGallery .btn {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 17px;
}

/* <!-- Our Gallery SECTION  END--> */

/* <!-- SERVICES SECTION  --> */
.services {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://i.pinimg.com/736x/88/c2/a6/88c2a619772b9141295e766ca769cd55.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.services div {
    width: 80%;
    height: max-content;
}

.services h1 {
    text-align: center;
    color: orangered;
    font-size: 40px;
}

.services p {
    text-align: center;
    font-size: 17px;
    font-weight: 300;
}

.services .ServiceCards {
    width: 100%;
    padding: 10px 30px;
    display: flex;
    height: 300px;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.ServiceCards .Card {
    margin: 10px;
    transition: 0.5s;
    background-color: orangered;
    border-radius: 5px;
    color: white;
    padding: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 200px;
}

.ServiceCards .Card:hover {
    background-color: white;
    color: black;
    height: 250px;
    transition: 0.5s;
}

.ServiceCards .Card:hover .CardBtn {
    opacity: 1;
    display: block;
    padding: 10px 15px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 17px;
    width: max-content;
    transition: 0.6s;
}

.Card .Content {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Card .Content h2 {
    text-align: center;
}

.Card .Content img {
    height: 60px;
    width: 90px;
}

.CardBtn {
    display: none;
    opacity: 0;
    transition: 0.5s;
}

/* <!-- SERVICES SECTION  END--> */


/* <!-- Testimonial SECTION  --> */
.CommentCount{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    gap: 5px;
}
.CommentCount .dot{
    width: 40px;
    height: 15px;
    border-radius: 30px;
    background-color: gray;
}

.CommentCount .ActiveDot{
    background-color: orangered;
    transition: 0.5s;
}
.Testimonial {
    min-height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Testimonial .Content {
    width: 90%;
}

.Testimonial .Content h1 {
    color: orangered;
    font-size: 40px;
}

.Testimonial .Content p {
    padding-left: 0px;
}

.Testimonial .Content .Comment h2 {
    padding: 0px 20px;
    color: orangered;
}

.Testimonial .Content .Comment p {
    padding: 0px 20px;
}

.Testimonial .Content .Comment {
    opacity: 0;
    min-width: 100%;
    margin-top: 50px;
    padding-top: 10px;
    margin-bottom: 50px;
    border-left: 5px solid black;
    border-right: 5px solid black;
  background: 
    linear-gradient(to left, transparent 95%, black 5%) top / 100% 5px no-repeat,
    linear-gradient(to right, transparent 95%, black 55%) bottom / 100% 5px no-repeat;
    border-radius: 5px;
    /* padding: 20px; */
    /* transition: 0.4s; */
}

.Testimonial .Content .Active {
    display: block;
    opacity: 1;
    transition: 0.5s;
}

.Testimonial .Content .Comments {
    overflow: hidden;
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

.Testimonial.Content .CommentCount {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

}

.Testimonial.Content .CommentCount div {
    width: 70px;
    border: 20px;
    height: 20px;
}

/* <!-- Testimonial SECTION END --> */

/* <!-- Contact Us SECTION  --> */
.ContactUS {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* min-height: 100vh; */
}

.ContactUS .Content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    /* background-color: blue; */
}

.ContactUS .Content h1 {
    font-size: 40px;
    color: orangered;
    margin-bottom: 50px;
}

.ContactUS .ContactUS-Two {
    display: flex;

    width: 100%;
    height: 400px;
    /* background-color: black; */
}

.ContactUS .MapContact {
    width: 50%;
}

.ContactUS .FormContact {
    padding: 30px;
    background-image: url(https://sample-coffee-shop.vercel.app/images/img-9.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    width: 50%;
}

.FormContact form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.FormContact form .submitBtn {
    padding: 10px 15px;
    border-radius: 50px;
    background-color: brown;
    color: white;
    border: none;
    font-size: 20px;
}

.FormContact .formdata {
    padding: 10px 15px;
    border-radius: 40px;
    background-color: white;
    color: black;
    font-size: 20px;
    width: 70%;
}

/* <!-- Contact Us SECTION END --> */
/* <!-- FOOTER Us SECTION  --> */
.footer {
    padding: 40px 0px;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    justify-content: center;
}

.footer-container {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.footer-section h2 {
    margin-bottom: 40px;
    font-size: 24px;
}

.footer-section ul li a {
    color: rgba(196, 187, 187, 0.904);
    text-decoration: none;
}

.footer-section ul {
    list-style: none;
}

.footer-section pre,
.footer-section ul {
    font-size: 17px;
    color: rgba(196, 187, 187, 0.904);
}

/* <!-- Contact Us SECTION END --> */