.ServiceCard{
    padding: 20px;
    border-radius: 15px;
    height: 220px;
/* background-color: aqua; */
    background-color: var(--text-color);
    color: black;

}
.ServiceCard .icon{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    background-color: var(--subtext-color);
}

