.MainCard {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(24, 24, 29);
    display: flex;
    justify-content: space-between;
}

.MainCard .Count {
    font-size: 40px;
}

.MainCard div i{
    font-size: 30px;
}