.LatestArticles{
    width: 400px;
    height: 330px;
    border-radius: 10px;
    background-color: rgb(24, 24, 29);
    padding: 15px;
}
.ArticlesHed{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.counterBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--hover-color);
    /* color: black; */
}
.ListArticls{
    display: flex;
    flex-direction: column;
    gap: 5px;
}