.Category {

    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
    border-radius: 10px;
    border: 1px solid black;
    transition: 0.4s;
}

.Category .Icon {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondery-color);
    transition: 0.4s;
    border-radius: 10px;
}

.Category .Icon i{
    font-size: 30px;
    color: var(--primary-color);

}

.Category:hover {
    transition: 0.4s;
    box-shadow: 0 1px 5px var(--primary-color);
    border: 1px solid var(--primary-color);
}

.Category:hover .Icon {
    background-color: var(--primary-color);
    transition: 0.4s;
}

.Category:hover i {
    color: white;
    transition: 0.4s;
}