.main-auth-container{
    padding: 20px;
    width: 100%;
    background-color: var(--TEXT-COLOR);
}
.main-auth-container .title{
    font-size: 24px;
    font-weight: 600;
}
.AuthPages{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.AuthPage img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.AuthPage div{
    padding: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.AuthPage div input{
    width: 20px;
    height: 20px;
    
}

.AuthPage div button{
    padding: 5px 10px ;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.formactive{
    background-color: white;
    z-index: 99;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.backArrow i{
    padding: 0;
    margin: 0;
}

.backArrow{
    
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    width: max-content;
    background-color: rgba(221, 215, 215, 0.5);
    position: absolute;
    top: 5%;
    left: 10px;
    padding: 5px 10px;
    border-radius: 10px;
}