.Project{
    padding: 0px 150px;
color: var(--text-color);
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 50px;
}
.Project span{
    color: var(--primary-color);
}

/* Mobile view */
@media (max-width: 768px) {
    .Project{
        padding: 0px 30px;
    }
}